Repository danos/vyatta-dataplane, changes with the owners that CODEOWNERS names for each.
All owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com, aroberts@vyatta.att-mail.com, adewar@vyatta.att-mail.com, nick.brown@att.com

clang-tidy: re-enable clang-analyzer-core.CallAndMessage
  .clang-tidy
Owners: none

crypto: ensure ctx.context is set to some value
  src/crypto/crypto_policy.c
Owners: none

qos: fix possibly uninitialized values
  src/qos_sched.c
Owners: aroberts@vyatta.att-mail.com, adewar@vyatta.att-mail.com

tests: npf: ensure ptree_string2key returns something
  tests/whole_dp/src/dp_test_npf_ptree.c
Owners: none

tests: gre: fix clang-tidy CallAndMessage issues
  tests/whole_dp/src/dp_test_gre.c
Owners: none

tests: lib: make sure we have a valid mbuf pointer
  tests/whole_dp/src/dp_test_lib.c
Owners: none

clang: quiet warnings about uninitialized usage
  src/capture.c
Owners: none

cgnat: Move global variables to cgn.c
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_session.h
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Change cgn_session_establish to use 'struct cgn_map'
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_session.h
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Sessions are only created in outbound context
  src/npf/cgnat/cgn_session.c
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

Fixup copyright dates for 2021
  src/ip_icmp.c
  src/meson.build
  src/npf/apm/apm.c
  src/npf/apm/apm.h
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_cmd_cfg.c
  src/npf/cgnat/cgn_cmd_cfg.h
  src/npf/cgnat/cgn_cmd_op.c
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_log_rte.c
  src/npf/cgnat/cgn_map.c
  src/npf/cgnat/cgn_map.h
  src/npf/cgnat/cgn_mbuf.c
  src/npf/cgnat/cgn_mbuf.h
  src/npf/cgnat/cgn_policy.c
  src/npf/cgnat/cgn_policy.h
  src/npf/cgnat/cgn_public.h
  src/npf/cgnat/cgn_rc.c
  src/npf/cgnat/cgn_rc.h
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_sess2.h
  src/npf/cgnat/cgn_sess_state.c
  src/npf/cgnat/cgn_sess_state.h
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_session.h
  src/npf/cgnat/cgn_source.c
  src/npf/cgnat/cgn_source.h
  src/npf/cgnat/cgn_test.c
  src/npf/cgnat/cgn_test.h
  src/npf/cgnat/cgn_time.c
  src/npf/cgnat/cgn_time.h
  src/npf/nat/nat_pool.c
  src/npf/nat/nat_pool.h
  src/npf/nat/nat_proto.h
  src/pipeline/nodes/l3_v4_cgnat.c
  tests/whole_dp/src/dp_test_npf_cgnat.c
  tests/whole_dp/src/dp_test_npf_lib.c
  tests/whole_dp/src/dp_test_npf_mbuf.c
Owners: nick.brown@att.com, ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Move cgn_arg_to_int to cgn_cmd_cfg.c
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_cmd_cfg.c
  src/npf/cgnat/cgn_cmd_cfg.h
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Use a 'cgnat map info' struct to pass data to/from mapping fns
  src/npf/cgnat/cgn_map.c
  src/npf/cgnat/cgn_map.h
  src/npf/cgnat/cgn_session.c
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Replace include of cgn.h with cgn_public.h in ip_icmp.c
  src/ip_icmp.c
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_public.h
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Replace 'enum cgn_flow' with 'enum cgn_dir'
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_sess_state.c
  src/npf/cgnat/cgn_sess_state.h
  src/npf/cgnat/cgn_session.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Move test for sub-session enable out of cgn_session_establish
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_sess2.h
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_session.h
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Move all 'return code' code into cgn_rc.h and cgn_rc.c
  src/meson.build
  src/npf/apm/apm.c
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn_cmd_op.c
  src/npf/cgnat/cgn_map.c
  src/npf/cgnat/cgn_mbuf.c
  src/npf/cgnat/cgn_rc.c
  src/npf/cgnat/cgn_rc.h
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_source.c
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: nick.brown@att.com, ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Move time related functions into cgn_time.c and cgn_time.h
  src/meson.build
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_log_rte.c
  src/npf/cgnat/cgn_policy.c
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_sess_state.c
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_source.c
  src/npf/cgnat/cgn_time.c
  src/npf/cgnat/cgn_time.h
  tests/whole_dp/src/dp_test_npf_cgnat.c
Owners: nick.brown@att.com, ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Move function that only exist for unit-tests into cgn_test.c
  src/meson.build
  src/npf/apm/apm.h
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_sess2.h
  src/npf/cgnat/cgn_session.h
  src/npf/cgnat/cgn_source.c
  src/npf/cgnat/cgn_test.c
  src/npf/cgnat/cgn_test.h
  src/npf/nat/nat_proto.h
  src/pipeline/nodes/l3_v4_cgnat.c
  tests/whole_dp/src/dp_test_npf_cgnat.c
  tests/whole_dp/src/dp_test_npf_lib.c
  tests/whole_dp/src/dp_test_npf_mbuf.c
Owners: nick.brown@att.com, ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Remove direction parameter from session create path
  src/npf/cgnat/cgn_policy.c
  src/npf/cgnat/cgn_policy.h
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_session.h
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Use 'enum cgn_dir' instead of 'int' for the direction variable
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_cmd_op.c
  src/npf/cgnat/cgn_map.c
  src/npf/cgnat/cgn_map.h
  src/npf/cgnat/cgn_mbuf.c
  src/npf/cgnat/cgn_mbuf.h
  src/npf/cgnat/cgn_policy.c
  src/npf/cgnat/cgn_policy.h
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_sess2.h
  src/npf/cgnat/cgn_sess_state.c
  src/npf/cgnat/cgn_sess_state.h
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_session.h
  src/npf/cgnat/cgn_test.h
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Sub-sessions are only created in the outbound context
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_sess2.h
  src/npf/cgnat/cgn_session.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Remove cgnat cache object cpk_hlen and add cpk_l4_len
  src/npf/cgnat/cgn_mbuf.c
  src/npf/cgnat/cgn_mbuf.h
  src/pipeline/nodes/l3_v4_cgnat.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Use correct type for 'enum nat_proto' vars and params
  src/npf/cgnat/cgn_map.c
  src/npf/cgnat/cgn_map.h
  src/npf/cgnat/cgn_mbuf.h
  src/npf/cgnat/cgn_sess_state.c
  src/npf/cgnat/cgn_sess_state.h
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_source.c
  src/npf/cgnat/cgn_source.h
  src/npf/nat/nat_pool.c
  src/npf/nat/nat_pool.h
  src/npf/nat/nat_proto.h
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Move cgn_addrstr to cgn_log_rte.c and make static
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn.h
  src/npf/cgnat/cgn_log_rte.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Rename cgn_sess2_activate and deactivate to cgn_sess2_add and del
  src/npf/cgnat/cgn_sess2.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

pipeline: remove checks in tear downs
  src/pipeline/nodes/sample/sample.c
Owners: none

tests: fix deadstore in unit tests
  tests/whole_dp/src/dp_test_cmd_check.c
  tests/whole_dp/src/dp_test_ip_pic_edge.c
  tests/whole_dp/src/dp_test_lib.c
  tests/whole_dp/src/dp_test_mpls.c
  tests/whole_dp/src/dp_test_npf_alg_lib.c
  tests/whole_dp/src/dp_test_npf_alg_sip_call.c
  tests/whole_dp/src/dp_test_npf_alg_sip_lib.c
  tests/whole_dp/src/dp_test_npf_cgnat.c
  tests/whole_dp/src/dp_test_npf_lib.c
  tests/whole_dp/src/dp_test_npf_nptv6.c
  tests/whole_dp/src/dp_test_npf_ruleset_state.c
  tests/whole_dp/src/dp_test_npf_sess_lib.c
  tests/whole_dp/src/dp_test_pbr.c
  tests/whole_dp/src/dp_test_pktmbuf_lib.c
  tests/whole_dp/src/dp_test_str.c
Owners: none

ip_rt_protobuf: fix clang deadstore warning
  src/ip_rt_protobuf.c
Owners: none

tests: check ret to avoid dead stores in qos tests
  tests/whole_dp/src/dp_test_qos_ext_buf_monitor.c
Owners: none

qos_sched: fix clang deadstore in parsing
  src/qos_sched.c
Owners: aroberts@vyatta.att-mail.com, adewar@vyatta.att-mail.com

esp: remove dead store before enumerated switch
  src/pipeline/nodes/l3_nat64.c
Owners: none

npf: remove dead store before enumerated switch
  src/npf/npf_pack.c
  src/npf/npf_unpack.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

controller: check return from add port parse
  src/controller.c
Owners: none

esp: fix deadstore in esp_input
  src/crypto/esp.c
Owners: none

ARP: remove entry after failure notification
  src/if_ether.c
Owners: none

ARP and ND: entry should not be valid after failure notification
  src/if_ether.c
Owners: none

ARP: restrict handling of notifications from kernel
  src/if_ether.c
Owners: none

Update soft_ticks using clock_gettime
  src/controller.c
  src/soft_ticks.h
  src/util.h
Owners: none

GPC: Add policer action to the ACL at FAL API
  src/npf/config/pmf_hw.c
  src/npf/config/pmf_rule.h
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Ordering is important! The last matching file pattern has the highest precedence.

# Do not use @user, @@group or @org/team syntax as these are either Github or Bitbucket specific
# Use only emails addresses

/src/npf_shim.* ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/ ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/app_group/ paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/dpi/ paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com

src/*qos* aroberts@vyatta.att-mail.com adewar@vyatta.att-mail.com

/src/session/ ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com

meson.build   nick.brown@att.com
/Jenkinsfile  nick.brown@att.com
