Repository danos/vyatta-dataplane, changes with the owners that CODEOWNERS names for each.
All owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com, aroberts@vyatta.att-mail.com, adewar@vyatta.att-mail.com, nick.brown@att.com

npf test: remove spurious return
  tests/whole_dp/src/dp_test_npf_sess_lib.c
Owners: none

npf test: fix clang deadstore warning
  tests/whole_dp/src/dp_test_npf_cgnat.c
  tests/whole_dp/src/dp_test_npf_ruleset_state.c
Owners: none

clang: Re-enable clang-analyzer-deadcode.DeadStores
  .clang-tidy
Owners: none

command: fix clang deadstore warning
  src/commands.c
Owners: none

dp_test: fix clang deadstore warning
  tests/whole_dp/src/dp_test_lib.c
Owners: none

debian: remove libxen dependency
  debian/control
Owners: none

Prepare for 3.11.72.1 release
  debian/changelog
Owners: none

Update Jenkins build target for 2012 release
  Jenkinsfile
Owners: nick.brown@att.com

3.12.18
  debian/changelog
Owners: none

Uninitialised variable in nat64_out_process_common
  src/pipeline/nodes/l3_nat64.c
Owners: none

Revert "Update soft_ticks using clock_gettime"
  src/controller.c
  src/soft_ticks.h
  src/util.h
Owners: none

Update soft_ticks using clock_gettime (re-factored)
  src/controller.c
  src/soft_ticks.h
  src/util.h
Owners: none

Update soft_ticks using clock_gettime (re-factored)
  src/controller.c
  src/soft_ticks.h
  src/util.h
Owners: none

cgnat: Change 3-tuple sess and subscriber structs to use unix_epoch_us
  src/npf/cgnat/cgn_log.h
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_log_rte.c
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_source.c
  src/npf/cgnat/cgn_source.h
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Remove last uses of the cgnat specific time functions
  src/meson.build
  src/npf/cgnat/cgn.c
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_log_rte.c
  src/npf/cgnat/cgn_policy.c
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_session.c
  src/npf/cgnat/cgn_source.c
  src/npf/cgnat/cgn_time.c
  src/npf/cgnat/cgn_time.h
  tests/whole_dp/src/dp_test_npf_cgnat.c
Owners: nick.brown@att.com, ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Change sub-sessions to use unix_epoch_us
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_log_rte.c
  src/npf/cgnat/cgn_sess2.c
  src/npf/cgnat/cgn_sess2.h
  src/npf/cgnat/cgn_sess_state.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Change max subscriber session timestamps to use unix_epoch_us
  src/npf/cgnat/cgn_policy.c
  src/npf/cgnat/cgn_source.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Change port-block start and end times to use unix_epoch_us
  src/npf/apm/apm.c
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_log_rte.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

cgnat: Change the clear-session log messages to use unix_epoch_us
  src/npf/cgnat/cgn_log_protobuf_zmq.c
  src/npf/cgnat/cgn_log_rte.c
  src/npf/cgnat/cgn_session.c
Owners: ian.wilson@intl.att.com, paitken@vyatta.att-mail.com, dfawcus+atlassian@vyatta.att-mail.com, gsheare@vyatta.att-mail.com

lag: preserve started state across reconfigure
  src/if/dpdk-eth/dpdk_eth_if.c
Owners: none

dpdk_eth_if: add some additional state debugging
  src/if/dpdk-eth/dpdk_eth_if.c
Owners: none

Added range check for time to byte conversion
  src/control.c
  src/qos.h
  src/qos_dpdk.c
  src/qos_sched.c
Owners: aroberts@vyatta.att-mail.com, adewar@vyatta.att-mail.com

Queue depth and WRED threshold configuration enhancement
  src/control.c
  src/qos.h
  src/qos_dpdk.c
  src/qos_hw.c
  src/qos_sched.c
  tests/whole_dp/src/dp_test_qos_fal.c
Owners: aroberts@vyatta.att-mail.com, adewar@vyatta.att-mail.com

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Ordering is important! The last matching file pattern has the highest precedence.

# Do not use @user, @@group or @org/team syntax as these are either Github or Bitbucket specific
# Use only emails addresses

/src/npf_shim.* ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/ ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/app_group/ paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com
/src/npf/dpi/ paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com

src/*qos* aroberts@vyatta.att-mail.com adewar@vyatta.att-mail.com

/src/session/ ian.wilson@intl.att.com paitken@vyatta.att-mail.com dfawcus+atlassian@vyatta.att-mail.com gsheare@vyatta.att-mail.com

meson.build   nick.brown@att.com
/Jenkinsfile  nick.brown@att.com
