Repository danos/vyatta-dataplane, changes with the owners that CODEOWNERS names for each.
All owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net, aroberts@mail.eng.vyatta.net, adewar@mail.eng.vyatta.net

sfp-monitor: Read SFP calibration constants on initialisation
  src/if/dpdk-eth/dpdk_eth_if.c
  src/sfp.c
  src/transceiver.h
Owners: none

Move SFP calibration constants to transceiver header
  src/sff8472.h
  src/sfp.c
  src/transceiver.h
Owners: none

sfp-monitor: Remove SFP calibration constant update in JSON function
  src/if/dpdk-eth/dpdk_eth_if.c
  src/sfp.c
Owners: none

sfp-monitor: Add whitespace SFP monitor log value and unit
  src/sfp.c
Owners: none

Add function which returns SFF 8024 device types
  src/sfp.c
Owners: none

cgnat-alg-sip: Parse SIP User-Agent header
  src/npf/cgnat/alg/sip/csip_parse_sip.c
  src/npf/cgnat/alg/sip/csip_parse_sip.h
  tests/whole_dp/src/dp_test_npf_cgnat_sip.c
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

bstr: Add function to find a terminator starting at an offset
  src/npf/bstr.c
  src/npf/bstr.h
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

cgnat-alg-sip: Parse SIP Call-ID header
  src/npf/cgnat/alg/sip/csip_defs.h
  src/npf/cgnat/alg/sip/csip_parse_sip.c
  src/npf/cgnat/alg/sip/csip_parse_sip.h
  tests/whole_dp/src/dp_test_npf_cgnat_sip.c
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

cgnat-alg-sip: Find host and port in a SIP Via header
  src/npf/cgnat/alg/sip/csip_parse_utils.c
  src/npf/cgnat/alg/sip/csip_parse_utils.h
  tests/whole_dp/src/dp_test_npf_cgnat_sip.c
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

cgnat-alg-sip: Chg csip_find_uri to first find host and then do a split
  src/npf/cgnat/alg/sip/csip_parse_utils.c
  tests/whole_dp/src/dp_test_npf_cgnat_sip.c
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

cgnat-alg-sip: Add explicit indexes for SIP and SDP lines start/end
  src/npf/cgnat/alg/sip/csip_parse_utils.c
  src/npf/cgnat/alg/sip/csip_parse_utils.h
  tests/whole_dp/src/dp_test_npf_cgnat_sip.c
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

cgnat-alg-sip: Parse SIP Content-Type header
  src/npf/cgnat/alg/sip/csip_parse_sip.c
  src/npf/cgnat/alg/sip/csip_parse_sip.h
  tests/whole_dp/src/dp_test_npf_cgnat_sip.c
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

bstr: Add function to find next wsp or non-wsp char in a string
  src/npf/bstr.c
  src/npf/bstr.h
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

bstr: Add function to find substring starting at an offest
  src/npf/bstr.c
  src/npf/bstr.h
Owners: iwilson@mail.eng.vyatta.net, paitken@mail.eng.vyatta.net, dfawcus+atlassian@mail.eng.vyatta.net, gsheare@mail.eng.vyatta.net

Validate GRE tunnel transport source IP
  src/if/gre.c
Owners: none

Remove offset variable in favour of array
  src/sfp.c
Owners: none

Fix get_eeprom_data uninitialisation errors
  src/sfp.c
Owners: none

Validate GRE tunnel transport source IP
  src/if/gre.c
Owners: none

QOS: fix memory leak due to double config
  src/qos_dpdk.c
  src/qos_hw.c
Owners: aroberts@mail.eng.vyatta.net, adewar@mail.eng.vyatta.net

QoS: remove qinfo from SLIST when disabling policy
  src/qos.h
  src/qos_dpdk.c
  src/qos_hw.c
  src/qos_sched.c
Owners: aroberts@mail.eng.vyatta.net, adewar@mail.eng.vyatta.net

3.13.48.3
  debian/changelog
Owners: none

Validate GRE tunnel transport source IP
  src/if/gre.c
Owners: none

Validate GRE tunnel transport source IP
  src/if/gre.c
Owners: none

Added device filtering by interface name
  src/sfp_permit_list.c
Owners: none

3.13.48.4
  debian/changelog
Owners: none

3.11.72.28
  debian/changelog
Owners: none

3.12.55.9
  debian/changelog
Owners: none

config: match driver entries precisely on create
  src/config.c
Owners: none

ut: exercise matching in dataplane-drivers.conf
  src/main.c
  src/main.h
  tests/whole_dp/meson.build
  tests/whole_dp/src/dp_test_driver_conf.c
Owners: none

conf: add mlx5_pci configuration entries
  dataplane-drivers-default.conf
Owners: none

codechecks: update copyright check to Ciena
  scripts/codechecks
Owners: none

sfp: correct define/enum used to access RX powers array
  src/sfp.c
Owners: none

sfp: correct setting mantissa to use "=" and not "+="
  src/sfp.c
Owners: none

sfp: fix issue of incorrect externally calibrated temp
  src/sfp.c
Owners: none

json: add functions to write floating to a precision
  include/json_writer.h
  src/json_writer.c
Owners: none

sfp: correct the rx_pwr externally calibrated calculation
  src/sfp.c
Owners: none

sfp: ensure calibrated values are within allowed range
  src/sfp.c
Owners: none

sfp: update __convert_sff_voltage() to return in Volts
  src/sfp.c
Owners: none

sfp: ensure the JSON values have the required precision
  src/sfp.c
Owners: none

sfp: add calibration to threshold values
  src/sfp.c
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Ordering is important! The last matching file pattern has the highest precedence.

# Do not use @user, @@group or @org/team syntax as these are either Github or Bitbucket specific
# Use only emails addresses

/src/npf_shim.* iwilson@mail.eng.vyatta.net paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
/src/npf/ iwilson@mail.eng.vyatta.net paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
/src/npf/app_group/ paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
/src/npf/dpi/ paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net

/src/qos* aroberts@mail.eng.vyatta.net adewar@mail.eng.vyatta.net

/src/session/ iwilson@mail.eng.vyatta.net paitken@mail.eng.vyatta.net dfawcus+atlassian@mail.eng.vyatta.net gsheare@mail.eng.vyatta.net
